# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environnement virtuel
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Système
.DS_Store
Thumbs.db 